@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-8">
        <h2>О проекте</h2>

        <p>
            В нашей группе Вашему внимаю предлагаются статьи о знаковых фигурах российского бизнеса и не только.
        </p>

        <p>
            Здесь Вы можете найти статьи о предпринимателях из разных отраслей экономики от известных изданий таких как РБК, Forbes и др.
        </p>
        <p>
           Читайте о том, как делать бизнес, чтобы стать его Лицом!
        </p>
</div>
</div>
