@model ArticleList.ViewModels.AdminCompanyArticles.ArticlesViewModel
 
@if(ViewBag.Category != null)
{
    <h1 style="color:#b2b1b1">Категория: @ViewBag.Category</h1>
}

@{
    int anum = 0;//номер текущей выводимой статьи
    double acount = ViewBag.ArticlesVM.Count;
    int tmp = (int)Math.Floor(acount / 3);
    int numOfRows = (tmp % 3 == 0) ? (tmp / 3) : (tmp + 1);////количество рядов
}
@for (int i = 0; i < 3; i++)
{
    <div class="row">
        @{
            int iacount = ViewBag.ArticlesVM.Count;
            int ainrow = ((iacount - anum) >= 3) ? 3 : (iacount - anum); //количество элементов в ряду
        }
        @for (int j = 0; j < ainrow; j++, anum++)
        {
            <div class="col-xs-12 col-sm-4">
                @await Component.InvokeAsync("ArticleTile", new { avm = ViewBag.ArticlesVM[anum] })
            </div>
        }
    </div>
}

@if (ViewBag.PagingInfo.CategoryEnTitleForLink != null)
{
    <div class="col-xs-12 ">
        @await Component.InvokeAsync("CategoryPagination", new { pi = ViewBag.PagingInfo })
    </div>
}
else
{
    <div class="col-xs-12 ">
        @await Component.InvokeAsync("MainPagination", new { pi = ViewBag.PagingInfo })
    </div>
}







